.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.page-btn {
    color: white;
    font-size: 20px;
    width: 45px;
    height: 35px;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.page-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.page-btn:first-child, .page-btn:last-child {
    background: rgba(255, 255, 255, 0.1);
}

.page-btn.active {
    background: red;
    color: white;
    font-weight: bold;
}

.dots {
    font-size: 16px;
}
